
.cardMain {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-self: center;
  height: 100%;
  width: 750px;
  padding: 32px;
  border-bottom: 1px solid #F5F5F5;
}

.cardImage {
  height: 100%;
  width: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.cardDetails > h1 {
  margin-top: -10px;
}
.cardLocationDetails {
  display: flex;
  align-items: center;
  gap: 4px;
}

.detailsLink {
  margin-left: 16px;
}

.cardPin {
  color: #F55A5A;
}

.capitalize {
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.start {
  font-weight: bold;
  margin-top: 0px;
}
