.cardMain {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  align-self: center;
  height: 100%;
  width: 700px;
  padding: 32px;
  border-bottom: 1px solid #F5F5F5;
  /* border: 1px solid black; */
}

.cardImage {
  height: 100%;
  width: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.cardLocationDetails {
  display: flex;
  align-items: center;
  gap: 4px;
}

.detailsLink {
  margin-left: 24px;
}
